html body {

	text-align:center;
	/*border: 1px solid black;*/
	height: auto;
	min-height: 99%;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	background-color: #858a8b;

	font-family: "Times New Roman" "ComicSans";
}

#all {
	margin-top: 1%;
	margin-bottom: 0%;
	
	text-align:center;
	
	border-radius: 15px;
	height: auto;
	min-height: 50%;
	
	padding: 0px 0px 20px 0px;
	overflow: auto;
	background-color: #2d2c2a;
	margin-left:auto;
	margin-right:auto;
	width: 95%;
	clear:both;
	box-shadow: 1px;

}

 #menu a:hover {
	
	border-bottom: 5px solid #50A7B5; 
	

}

a {
	
	color:#2D2C2A;
	text-decoration: none;
	
}

a img {

	border:none;
}

div {
	/*border: 1px dashed black;*/

}

@font-face {

	font-family:"Impact";
	font-family: "DejaVuSerif";
	font-family:"MyriadPro-Regular";
	src : url("Impact.ttf");
	src : url("MyriadPro-Regular.ttf");
	src: url("DejaVuSerif.ttf");
}  

dt {
	text-indent: -2em;
	font-size: 80%;
	margin-top: 1em;
}

#container{

	
	width: 80%; 
	min-width: 250px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0px; 
	z-index:2;
	padding-bottom: 20px;


}

#carousel {


}

#header {

	margin-top: 45px;
	margin-left:80px;
	text-align:left;
	/*max-width:650px;
	height:auto;
	margin-left: auto;
	margin-right:auto;
	padding-top: 230px;
	padding-left: 430px;
	text-align: center;*/
}

#header > a img {

	max-width: 35%;

}



#logo img {
	vertical-align:text-bottom;
	max-width: 50%;


}

#breadcrumbs {
	color: #858a8b;
}

#breadcrumbs a {
	color: #858a8b;
}

#menu {
	
	
	display: inline;
	font-family:"DejaVuSerif";

	text-align: left;
	width: 200px;
	padding: 0;


}

.text {
	display: table-cell;
	width: 400px;
/*	float:left;
	display:inline;
*/

}
		
#begruessung {

	color: #50a7b5;
	text-align: left;
	
}

#begruessung a {
	color:  white;
	text-decoration: none;
}

#begruessung a:hover {
	text-decoration: underline;
}

#begruessung p {

	margin-bottom: 1em;
}

#begruessung ul {

	margin-bottom: 1em;
	margin-top: 1em;
	margin-left: 2em;
}

#begruessung h2 {

	margin-bottom: 1em;

}




#referenz {
	display: table-cell;
/*	display:inline;
	float:right;
*/	text-align: left;
	padding-left:150px;
	padding-top: 0px;
	
}

#adresse {

		color:#50a7b5;
		display:none;

}


#icon {
	
	display:inline;
	float:right;
	padding-right: 130px;
	padding-top: 10px;
}

#icon img {

	height: 20px;


	


}
#menu span {

	padding-right: 5px;
	padding-left: 5px;
	padding-top: 10px;
	font-size: 1.5em;
	color:#2D2C2A;
	text-align:left;
	

	
}

#menu span:hover {

	
	

	
}



#main {	
	display: table;
	margin-top: 80px;
}

.icon {

	max-width: 30%;
	min-width: 15%;
}

#panel {

	padding-top: 20px;
}

#pakete {

	display: table;
	width: 100%;
	margin-top: 40px;
	clear:both;
	padding-top: 50px;

}

.paket {

	display: table-cell;
	/*padding:40px;*/
	max-width: 33%;
	

	

}



.paket h3 {

	padding: 0;
	margin: 5;
	font-family:"DejaVuSerif";
	font-weight: normal;
	color: #50a7b5;

}

.paket ul {

	padding: 0px 30px 5px 30px;
	text-align: justify;
	margin: 0;
}

.paket p {

	margin: 0px;
	font-size: 1em;
	color:#50a7b5;
}

.paket a {

	text-decoration: none;
	font-family:"DejaVuSerif";
}

.paket img{

	width: 33%;
}

/*.paket > a:hover {
	background-color: #50A7B5;
}*/


#footer {

	background-color: #2D2C2A;
	
	height: 40px;
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: right;
}

#footer img {

	height: 40px;
	padding-right: 10px;
	padding-bottom:5px;
	display:inline;

}

#footer a {

	color: white;
	padding: 10px;
	margin-bottom: 0px;
	float:right;
}

#test {
	position:absolute;
	margin-top: 30px;
	margin-left: 300px;
	z-index:1;
	max-height: 20%;
	margin-bottom: 5px;
	text-align:left;
	float:left;
	
}

#test a img {

	
	padding-left: 100px;
	padding-top: 15px;
	text-align:left;
	max-width:45%;
	

}


#kontakt {

	margin-top: 120px;
	margin-bottom: 70px;

}

#kontakt img {

	max-width: 60%;
}

.icons {

	float:left;
	display:inline-block;
	width: 300px;

}

.icons ul {

	list-style-type:none;
}

.icons li {

	margin: 40px;
}



#hund img {

	max-width: 50%;
}